<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.VideoMapper">

    <select id="getVideoInfo" resultType="java.util.Map">
        select vod_id, vod_pic, vod_name, vod_blurb, vod_remarks,vod_actor,vod_play_url
        from mac_vod
        order by rand()
        limit 5
    </select>
</mapper>